<div class="bg container-fluid bg-black">
  <div class="row px-5 d-flex justify-content-center">
    <div class="col-6">
      <div class="container text-bg-dark mt-5 rounded-2">
        <form
          class="fw-bold p-5"
          #registerForm="ngForm"
          (ngSubmit)="register(registerForm)"
        >
          <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              class="form-control bg-secondary border-0"
              required
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input
              type="text"
              name="name"
              class="form-control bg-secondary border-0"
              required
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Cognome</label>
            <input
              type="text"
              name="surname"
              class="form-control bg-secondary border-0"
              required
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email </label>
            <input
              type="email"
              name="email"
              class="form-control bg-secondary border-0"
              required
              ngModel
            />
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control bg-secondary border-0"
              name="password"
              required
              ngModel
            />
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-success px-5 fw-bold"
              [disabled]="registerForm.invalid"
            >
              Registrati
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
